*{
    margin:0px;
    padding:0px;
    border:border-box;
}

/* .pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  } */
  
.navbar{
    height:100px;
    background-color:black;
    display:flex;
    align-items:center;
    justify-content:space-evenly;

}

.logo{
    height:100%;
    width:250px;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    color:white;
    font-size:1.55rem;
    font-weight:700;
    border-right:1px solid #c96500;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-logo{
    height:78%;
    width:77px;
    background-image:url("../statics/logo.jpeg");
    background-size:cover;
}

.tabs{
    width:1200px;
    /* margin-left:50px; */
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}



.tab-style{
    background-color:#c96500;
    border:none;
    border-radius:10px;
    height:2rem;
    width:7rem;
    display:flex;
    align-items:center;
    justify-content:center;
    /* transition-property:all;
    transition-timing-function:ease-in;
    transition-duration:0.5s; */
}

/* .tab-style:hover{
    height:3rem;
    width:8rem;
} */



.tab-style a {
    text-decoration:none;
    font-family:'Times New Roman', Times, serif ;
    font-weight:500;
    color:white;
}

.content{
  padding:20px;
  width:60%;
  margin-top:50px;
  margin-left:280px;
  margin-bottom:50px;
  background-color:white;
  border-radius:10px;
  box-shadow:10px 10px 10px rgb(0,0,0,0.5);
}

.content-div{
    display:flex;
    flex-wrap:wrap;
    padding:20px;
}



.content-box{
    height:400px;
    width:266.2px;
    margin:10px;
}


/**foot-panel**/



.foot-panel{
    height:400px;
    width:100%;
    background-image:url("../statics/image6.jpg");
    background-size:cover;
    opacity:80%;
    z-index:-1;
    display:flex;
    justify-content:space-evenly;
    /* align-items:center; */
}



.foot-panel .foot-box{
    height:fit-content;
    width:300px;
    margin-top:50px
}

.box1 .foot-logo{
    height:15%;
    width:100%;
    display:flex;
    justify-content: left;
    align-items: center;
}

.foot-logo p{
    font-size:20px;
    margin-top:1rem;
    margin-left:1rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

/* .box1 .foot-logo .foot-logo-content{
    height:100%;
    width:12%;
    background-image:url("");
    background-size:cover;
} */

.box1 .box1-content{
    /* height:85%; */
    width:75%;
    margin-top:30px;
    font-weight:700;
    
}

.box2 h2{
    margin:1rem;
    text-align:center;
}

.box2 ul{
    margin-left:5.5rem;
}

.box2 li{
    margin-bottom:1rem;
}

.box2 a{
    text-decoration:none;
    color:black;
    font-weight:500;
}


.box3 h2{
    text-align:center;
    
}

.box3 i{
    font-size:30px;
    margin-left:35px;
    margin-top:20px;
    color:black;
  
}

.box3 .heading2{
    margin-top:30px;
}

.box3 p{
    text-align:center;
    margin-top:20px;
}









