*{
    margin:0px;
    padding:0px;
    border:border-box;
}

/* .pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  } */
  
.navbar{
    height:100px;
    background-color:black;
    display:flex;
    align-items:center;
    justify-content:space-evenly;

}

.logo{
    height:100%;
    width:250px;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    font-size:1.55rem;
    font-weight:700;
    color:white;
    border-right:1px solid #c96500;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration:none;
}

.nav-logo{
    height:78%;
    width:77px;
    background-image:url("logo.jpeg");
    background-size:cover;
}

.tabs{
    width:1200px;
    /* margin-left:50px; */
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}



.tab-style{
    background-color:#c96500;
    border:none;
    border-radius:10px;
    height:2rem;
    width:7rem;
    display:flex;
    align-items:center;
    justify-content:center;
    /* transition-property:all;
    transition-timing-function:ease-in;
    transition-duration:0.5s; */
}

/* .tab-style:hover{
    height:3rem;
    width:8rem;
} */



.tab-style a {
    text-decoration:none;
    font-family:'Times New Roman', Times, serif ;
    font-weight:500;
    color:white;
}

body{
    background-color:#d5bc93;
}


.container{
    width:60%;
    border-radius:10px;
    background-color:white;
    margin:0 auto ; 
    margin-top:100px;
    padding:20px;
    margin-bottom: 100px;
    box-shadow:0 0 10px rgba(0,0,0,0.8);
}

.animal_name{
    font-size:50px;
    color:brown;
    font-weight:600;
    text-align:center;
}

.animal_image{
    height:600px;
    width:80%;
    margin:0 auto;
    background-image:url("adoption_images/image1 (2).png");
    background-size:cover;
    margin-top:20px;
    box-shadow : 0 0 10px rgba(0,0,0,0.8);
    border-radius:10px;
}

.animal_age{
    height:20px; 
    width: 80%;
    padding:20px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    margin:0 auto ; 
    margin-top:30px;
    border-bottom:1px solid grey;
}

.animal_age p{
    font-size:20px;
    font-weight:400;
}

.animal_gender{
    height:20px; 
    width: 80%;
    padding:20px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    margin:0 auto ;
    border-bottom: 1px solid grey ;  
}

.animal_gender p{
    font-size:20px;
    font-weight:400;
}

.animal_type{
    height:20px; 
    width: 80%;
    padding:20px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    margin:0 auto ;
    border-bottom: 1px solid grey ; 
    margin-bottom:100px;
}

.animal_type p{
    font-size:20px;
    font-weight:400;
}

.contact_button{ 
    border:none;
    height:50px;
    width:20%;
    font-size:16px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    color:white;
    background-color:red;
    font-weight:500;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.8);

}

.contact{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

.video_contact_button{
    border:none;
    height:50px;
    width:30%;
    font-size:16px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    color:white;
    background-color:rgb(0, 133, 186);
    font-weight:500;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.8);
}







/**foot-panel**/



.foot-panel{
    height:400px;
    width:100%;
    background-image:url("static/image6.jpg");
    background-size:cover;
    opacity:80%;
    z-index:-1;
    display:flex;
    justify-content:space-evenly;
    /* align-items:center; */
}



.foot-panel .foot-box{
    height:fit-content;
    width:300px;
    margin-top:50px
}

.box1 .foot-logo{
    height:15%;
    width:100%;
    display:flex;
    justify-content: left;
    align-items: center;
}

.foot-logo p{
    font-size:20px;
    margin-top:1rem;
    margin-left:1rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

/* .box1 .foot-logo .foot-logo-content{
    height:100%;
    width:12%;
    background-image:url("");
    background-size:cover;
} */

.box1 .box1-content{
    /* height:85%; */
    width:75%;
    margin-top:30px;
    font-weight:700;
    
}

.box2 h2{
    margin:1rem;
    text-align:center;
}

.box2 ul{
    margin-left:5.5rem;
}

.box2 li{
    margin-bottom:1rem;
}

.box2 a{
    text-decoration:none;
    color:black;
    font-weight:500;
}


.box3 h2{
    text-align:center;
    
}

.box3 i{
    font-size:30px;
    margin-left:35px;
    margin-top:20px;
    color:black;
  
}

.box3 .heading2{
    margin-top:30px;
}

.box3 p{
    text-align:center;
    margin-top:20px;
}