<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peepal Farm</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../CSS/About_Us.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <link rel="icon" href="../statics/logo.jpeg" type="image/x-icon">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <div class="nav-logo">
                </div>
                <a href="../" style="text-decoration:none; color:white;">ANIMAL ALLIES</a>
            </div> 

           <div class="tabs">
                    <div class="home tab-style">
                        <a href="../">Home</a>
                    </div>

                    <div class="our_gallery tab-style">
                        <a href="../our_gallery">Our Gallery</a>
                    </div>

                    <div class="adoptions tab-style">
                        <a  href="../animals">adoptions</a>
                    </div>

                    <div class="membership tab-style">
                        <a  href="../membership">Membership</a>
                    </div>

                    <div class="donation tab-style">
                        <a  href="../donation"> donation </a>
                    </div>

                    <div class="about_us tab-style">
                        <a href="../About_Us">About Us</a>
                    </div>
           </div>
        </div>
    </header>

    <div class="hero-section">
        <div class="black-overlay">
            <div class="hero-section-content">
                <p>About Us</p>
            </div>
        </div>
    </div>

    <div class="content">
        <p>What is the Origin of Stray cats and dogs? Why is the population growing so rapidly? Why should humans be responsible for   their wellbeing?<br><br><br>

            These are question each individual needs to know the answer to and that defines our existence.<br><br><br>
            
            Dogs and Cats were domesticated and bred by humans 1000’s of years ago for hunting, protection, keeping pests away etc. As time & technology progressed the need of these domesticated cats and dogs diminished leading to their abandonment.<br><br><br>
            
            These abandoned stray dogs and cats were able to scavenge for food due to improper waste management in the country, owing to their ability to reproduce very quickly their population increased multifold, especially due to the fact that there was abundant food available in garbage dumps due to improper waste management.<br><br><br>
            
            Humans are responsible for the domestication & population explosion of these stray cats & dogs and hence it is the responsibility of humans to control their population humanely & take care of their needs.<br><br><br>
            
            Karma Foundation is a charitable trust that works towards the welfare of stray animals. We were incepted on 12th January, 2018 and is based in Pune. Currently our setup is spread across 14000 Sq ft with a capacity of providing IPD (In Patient Department) service to 150 cats & dogs and OPD (Out Patient Department) service to 300 cats & dogs per month.<br><br><br></p>
    </div>
    
    <footer>
        <div class="foot-panel">
           <div class="box1 foot-box" style="width:500px">
                <div class="foot-logo">
                    <img style="height: 80px;" src="../statics/logo.jpeg" alt="foot-logo">
                    <p>PEEPAL FARM</p>
                </div>
                <div class="box1-content">
                    <p>Animal welfare is not just about animals. It is about us. Our living conditions, our children, our earth. Cruelty to animals has a significant and irreversible impact on peaceful societies, human health, the economy, and the environment</p>
                </div>
           </div> 
           <div class="box2 foot-box">
            <h2>Quick Links</h2>
            <ul style="list-style-type:none" >
                <li><a href="../">Home</a></li>
                <li><a href="../our_gallery">Our Gallery</a></li>
                <li><a  href="../animals">adoptions</a></li>
                <li> <a  href="../membership">Membership</a></li>
                <li><a  href="../donation"> donation </a></li>
                <li><a href="../About_Us">About Us</a></li>
            </ul>
            
           </div>
           <div class="box3 foot-box">
                    <h2>Follow Us On</h2>
                    <a href="https://www.instagram.com/peepalfarm/?hl=en"  target="_blank"><i class="fa-brands fa-instagram"></i></a> 
                   <a href="https://www.youtube.com/peepalfarm"  target="_blank"><i class="fa-brands fa-youtube"></i></a>
                   <a href="https://www.whatsapp.com/channel/0029Va25pme23n3YaavT6a3u"  target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                   <a href="https://t.me/s/peepalfarm"  target="_blank"><i class="fa-brands fa-telegram"></i></a>
                    <h2 class="heading2">Find Us</h2>
                    <p>HQ: People For Animals, 14 Ashoka Road, Jantar Mantar Road, New Delhi 110001.</p>
           </div>
        </div>
   </footer>
     
</body>
</html>