<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ANIMAL ALLIES-Video Call</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
  <link rel="stylesheet" href="../CSS/video.css">
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div id="video-chat-lobby">
    <input placeholder="Enter meeting ID" id="roomName" class="meeting_id_content" type="text">
    <button class="meeting_id_button" id="join">Join</button>
  </div>
  <div id="video-chat-room">
    <video id="user-video"></video>
    <video id="peer-video"></video>
  </div> 
  <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
  <script src="../video.js"></script>

  <footer>
    <p>
      <i class="fa-regular fa-copyright"></i> 
      2024 ANIMAL ALLIES</p>
  </footer>   
  <script src="video.js"></script>
</body> 
</html>